<footer>
    <div class="footer-content">
        <h3>Office Hub</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quaerat eius suscipit fugit quo id nisi mollitia hic rerum laborum aspernatur dolor non, quibusdam delectus ea accusantium dolore corporis vero?</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="#"><i class="fa fa-github"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy;2023 OfficeHub</p>
    </div>
</footer>